In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_file = 'data/train.csv'
test_file = 'data/test.csv'

df_train = pd.read_csv(train_file)
df_test = pd.read_csv(test_file)

In [3]:
# Feature Engineering
class Transformer:
    outcome_counter = 0
    id_counter = 0
    sex_counter = 0
    breed_counter = 0
    color_counter = 0
    outcome_types = {}
    sex_types = {}
    breeds = {}
    colors = {}
    age_units = {'year': 365, 'years': 365, 'month': 30, 'months': 30,
                 'week': 7, 'weeks': 7, 'day': 1, 'days': 1}
    train_mode = True
    
    def train(self, is_train):
        self.train_mode = is_train
    
    def __call__(self, x, *args, **kwargs):        
        # Outcome
        if self.train_mode:
            key = x['OutcomeType']
            if key not in self.outcome_types:
                self.outcome_types[key] = self.outcome_counter
                self.outcome_counter += 1
            x['outcome_type'] = self.outcome_types[key]
        
        # is_dog
        x['is_dog'] = 1 if x['AnimalType'] == 'Dog' else 0

        # sex
        key = x['SexuponOutcome']
        if key not in self.sex_types:
            self.sex_types[key] = self.sex_counter
            self.sex_counter += 1
        elif key not in self.sex_types and not self.train_mode:
            self.sex_types[key] = -1
        x['sex'] = self.sex_types[key]
        
        # age
        if isinstance(x['AgeuponOutcome'], float):
            x['age'] = -1
        else:
            num, unit = x['AgeuponOutcome'].split(' ')
            x['age'] = int(num) * self.age_units[unit]
        
        # breed
        key = x['Breed']
        if key not in self.breeds:
            self.breeds[key] = self.breed_counter
            self.breed_counter += 1
        elif key not in self.breeds and not self.train_mode:
            self.breeds[key] = -1
        x['breed'] = self.breeds[key]
        
        # color
        key = ':'.join(x['Color'].split('/ '))
        if key not in self.colors:
            self.colors[key] = self.color_counter
            self.color_counter += 1
        elif key not in self.colors and not self.train_mode:
            self.colors[key] = -1
        x['color'] = self.colors[key]
        return x
    
def transform_df(df, trans, train=True):
    if train:
        cols = ['AnimalID', 'Name', 'DateTime', 'OutcomeType',
                'OutcomeSubtype', 'AnimalType', 'SexuponOutcome',
                'Breed', 'Color', 'AgeuponOutcome']
        df['OutcomeType'] = df['OutcomeType'].astype('str')
        df['OutcomeSubtype'] = df['OutcomeSubtype'].astype('str')
    else:
        cols = ['Name', 'DateTime', 'AnimalType', 'SexuponOutcome',
                'Breed', 'Color', 'AgeuponOutcome']
        
    df = df.apply(trans, axis=1)
    df.drop(cols, axis=1, inplace=True)
    return df
    
trans = Transformer()

In [4]:
%%time
trans.train(True)
df_train_trans = transform_df(df_train, trans)

CPU times: user 1min 22s, sys: 144 ms, total: 1min 22s
Wall time: 1min 22s

In [5]:
%%time
trans.train(False)
df_test_trans = transform_df(df_test, trans, train=False)

CPU times: user 30 s, sys: 30.5 ms, total: 30.1 s
Wall time: 30.1 s

In [6]:
df_train_trans.head()

   outcome_type  is_dog  sex  age  breed  color
0             0       1    0  365      0      0
1             1       0    1  365      1      1
2             2       1    0  730      2      2
3             3       0    2   21      1      3
4             3       1    0  730      3      4

In [7]:
df_test_trans.head()

   ID  is_dog  sex  age  breed  color
0   1       1    3  300     18      8
1   2       1    1  730    104      5
2   3       0    0  365      1      7
3   4       1    2  120    327     28
4   5       1    0  730     66      9

In [8]:
y_train = df_train_trans['outcome_type']
x_train = df_train_trans.drop('outcome_type', axis=1)

ids = df_test_trans['ID']
x_test = df_test_trans.drop('ID', axis=1)

In [9]:
import xgboost as xgb

/usr/local/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
dtrain = xgb.DMatrix(x_train, label=y_train)
dtest = xgb.DMatrix(x_test)

param = {'max_depth': 6, 'eta': 0.01, 'silent': 1,
         'objective': 'multi:softprob', 'num_class': trans.outcome_counter}
num_round = 500
watch_list = [(dtrain, 'train')]
bst = xgb.train(param, dtrain, num_round)

In [11]:
predicts = bst.predict(dtest).reshape(x_test.shape[0], trans.outcome_counter)
predicts

array([[ 0.18788256,  0.07614568,  0.04348592,  0.6645422 ,  0.02794362],
       [ 0.29707035,  0.02786294,  0.49521691,  0.16688395,  0.0129658 ],
       [ 0.1203969 ,  0.03549758,  0.39177766,  0.43809819,  0.01422967],
       ...,
       [ 0.01193555,  0.0867198 ,  0.01419437,  0.87308359,  0.01406675],
       [ 0.42363667,  0.0481517 ,  0.34261122,  0.17168956,  0.01391087],
       [ 0.3646192 ,  0.24943037,  0.03564737,  0.33713725,  0.0131658 ]], dtype=float32)

In [20]:
labels = sorted(list(trans.outcome_types.items()), key=lambda x: x[0])
label_indices = [idx for label, idx in labels]
print(labels)
label_indices

[('Adoption', 2), ('Died', 4), ('Euthanasia', 1), ('Return_to_owner', 0), ('Transfer', 3)]

[2, 4, 1, 0, 3]

In [31]:
ans = np.zeros((predicts.shape[0], predicts.shape[1]+1))
ans[:, 0] = ids
for ans_idx, (label, idx) in enumerate(labels, 1):
    ans[:, ans_idx] = predicts[:, idx]
df_ans = pd.DataFrame(ans, columns=['ID', 'Adoption', 'Died',
                                    'Euthanasia', 'Return_to_owner', 'Transfer'])
df_ans['ID'] = df_ans['ID'].astype(int)
df_ans.to_csv('data/submit.csv', index=False)
df_ans

          ID  Adoption      Died  Euthanasia  Return_to_owner  Transfer
0          1  0.043486  0.027944    0.076146         0.187883  0.664542
1          2  0.495217  0.012966    0.027863         0.297070  0.166884
2          3  0.391778  0.014230    0.035498         0.120397  0.438098
3          4  0.041037  0.009198    0.037468         0.092755  0.819541
4          5  0.436589  0.014557    0.034655         0.321403  0.192796
5          6  0.364850  0.013882    0.052771         0.375473  0.193024
6          7  0.363221  0.016640    0.287968         0.151836  0.180335
7          8  0.692918  0.012656    0.013037         0.031531  0.249858
8          9  0.590468  0.010145    0.013780         0.188102  0.197504
9         10  0.546669  0.012186    0.061225         0.223468  0.156452
10        11  0.679774  0.009871    0.010373         0.109381  0.190601
11        12  0.026369  0.020948    0.330661         0.253167  0.368855
12        13  0.627047  0.011666    0.012260         0.131134  0.217893
13        14  0.436589  0.014557    0.034655         0.321403  0.192796
14        15  0.630470  0.011944    0.025253         0.171418  0.160915
15        16  0.718688  0.010013    0.010781         0.079834  0.180684
16        17  0.374929  0.012805    0.048675         0.392268  0.171323
17        18  0.354096  0.013770    0.048224         0.399207  0.184704
18        19  0.395734  0.018069    0.066047         0.155177  0.364973
19        20  0.019748  0.024174    0.169868         0.033962  0.752249
20        21  0.367604  0.018873    0.049615         0.164297  0.399611
21        22  0.007193  0.017318    0.049149         0.008383  0.917956
22        23  0.553168  0.012717    0.026284         0.232834  0.174998
23        24  0.005175  0.015631    0.038152         0.006032  0.935011
24        25  0.632538  0.012097    0.022966         0.171331  0.161067
25        26  0.391778  0.014230    0.035498         0.120397  0.438098
26        27  0.939453  0.006029    0.006529         0.009029  0.038960
27        28  0.059974  0.010003    0.030507         0.033625  0.865890
28        29  0.353999  0.013603    0.046490         0.399845  0.186063
29        30  0.431011  0.014484    0.034480         0.322276  0.197749
...      ...       ...       ...         ...              ...       ...
11426  11427  0.345392  0.013900    0.052838         0.394602  0.193268
11427  11428  0.097641  0.091422    0.065387         0.087402  0.658148
11428  11429  0.365217  0.013925    0.047591         0.389715  0.183553
11429  11430  0.517982  0.013064    0.031495         0.268643  0.168815
11430  11431  0.890512  0.007709    0.007739         0.011689  0.082351
11431  11432  0.012495  0.012826    0.208956         0.021488  0.744234
11432  11433  0.394950  0.013623    0.042812         0.385149  0.163466
11433  11434  0.245578  0.037705    0.093863         0.013480  0.609374
11434  11435  0.362576  0.012574    0.043300         0.397771  0.183779
11435  11436  0.002300  0.006735    0.010062         0.002680  0.978223
11436  11437  0.683771  0.011799    0.011845         0.092385  0.200199
11437  11438  0.066801  0.013387    0.049865         0.195927  0.674020
11438  11439  0.909964  0.007422    0.007427         0.016097  0.059091
11439  11440  0.435666  0.013632    0.111024         0.260149  0.179529
11440  11441  0.005387  0.015794    0.024348         0.006278  0.948192
11441  11442  0.283413  0.012772    0.134291         0.407862  0.161662
11442  11443  0.478901  0.015412    0.024904         0.254297  0.226485
11443  11444  0.754550  0.012698    0.012747         0.032410  0.187595
11444  11445  0.011634  0.014241    0.103135         0.020007  0.850983
11445  11446  0.005419  0.017896    0.026512         0.006315  0.943858
11446  11447  0.877751  0.008262    0.008334         0.015816  0.089836
11447  11448  0.556149  0.012814    0.019540         0.245169  0.166328
11448  11449  0.906075  0.006595    0.006931         0.021056  0.059342
11449  11450  0.681464  0.010856    0.011080         0.110880  0.185721
11450  11451  0.653856  0.012596    0.014262         0.144701  0.174585
11451  11452  0.877751  0.008262    0.008334         0.015816  0.089836
11452  11453  0.005359  0.016185    0.016792         0.006246  0.955418
11453  11454  0.014194  0.014067    0.086720         0.011936  0.873084
11454  11455  0.342611  0.013911    0.048152         0.423637  0.171690
11455  11456  0.035647  0.013166    0.249430         0.364619  0.337137

[11456 rows x 6 columns]